Serp Assignment.json
{
  "name": "Serp Assignment",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Test Form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "name"
            },
            {
              "fieldLabel": "email"
            },
            {
              "fieldLabel": "company_keyword"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "6630e8c8-e40e-49ea-9107-b5d208eeb4ba",
      "name": "On form submission",
      "webhookId": "4ca99b0d-5418-4868-bb6b-7521527ac1a7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "598feaa5-b7a3-4040-a003-2cdf57660fa4",
              "name": "run_id",
              "value": "={{$now}}",
              "type": "string"
            },
            {
              "id": "8d79faf8-2a8e-466a-a1db-9f68e406bfa9",
              "name": "source_key",
              "value": "={{$json.email}}",
              "type": "string"
            },
            {
              "id": "b780383d-ce87-4d7a-b2f4-60c8a5a585df",
              "name": "record_key",
              "value": "={{$json.email + \"_\" + $json.name}}",
              "type": "string"
            },
            {
              "id": "a4775158-b6bb-4083-bf71-65ef88b79e84",
              "name": "company_keyword",
              "value": "={{ $json.company_keyword }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "09bd748b-b604-4eaa-8806-a2873283f363",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1dc8ea86-2deb-4293-9023-ec6f1616a811",
              "leftValue": "source_key",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "f1815b59-20e8-4cd8-a535-c28fbd117d24",
              "leftValue": "name",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "126705d1-e388-4381-88c5-56535b0c275d",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "create",
        "tableName": "workflow_logs",
        "columns": {
          "column": [
            {
              "name": "run_id"
            },
            {
              "name": "source_key"
            },
            {
              "name": "record_key"
            },
            {
              "name": "status"
            },
            {
              "name": "processed_at"
            },
            {
              "name": "retry_count",
              "type": "number"
            },
            {
              "name": "error_message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        384,
        -240
      ],
      "id": "f0b38069-f5b0-404f-aeca-d13a5eb3eb8a",
      "name": "Create a data table"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        848,
        -96
      ],
      "id": "bef63d36-3e51-414d-9e3c-afa19376e8c8",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google_jobs"
            },
            {
              "name": "q",
              "value": "={{$json.company_keyword}}"
            },
            {
              "name": "api_key",
              "value": "9d3a078731e176911159460efe8d792344ebe4dbd847c25347782923c6c553e8"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1520,
        128
      ],
      "id": "8f4b4d85-acb7-43f2-ad07-20a61814988c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const jobs = $json.jobs_results || [];\n\nreturn jobs.map(job => {\n  const rawDesc = job.description || '';\n  // 1. Remove HTML tags, 2. Truncate to 200 chars, 3. Add ellipsis\n  const cleanDesc = rawDesc.replace(/<[^>]*>?/gm, '').substring(0, 200) + '...';\n\n  return {\n    json: {\n      company_name: job.company_name || '',\n      website: job.share_link || '',\n      job_position: job.title || '',\n      job_requirements: cleanDesc,\n      location: job.location || '',\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        144
      ],
      "id": "079884e9-3777-4f76-b17a-12d2e80cf705",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "20acd855-2cff-46de-b044-c65465233068",
              "leftValue": "company_name",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "23fa5f5c-5b9f-42f8-9ef6-34032751cb98",
              "leftValue": "job_position",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1920,
        -80
      ],
      "id": "6470aa87-5e4f-4b37-ac7a-d0b7beb09d72",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1shZYx4obj_aFdDpV3yPP7meNGTCZ8IzrvQimKYK764A",
          "mode": "list",
          "cachedResultName": "serp_assignm",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1shZYx4obj_aFdDpV3yPP7meNGTCZ8IzrvQimKYK764A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 792781116,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1shZYx4obj_aFdDpV3yPP7meNGTCZ8IzrvQimKYK764A/edit#gid=792781116"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "company_name": "={{ $json.company_name }}",
            "website": "={{ $json.website }}",
            "job_position": "={{ $json.job_position }}",
            "job_requirements": "={{ $json.job_requirements }}",
            "location": "={{ $json.location }}"
          },
          "matchingColumns": [
            "company_name"
          ],
          "schema": [
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_position",
              "displayName": "job_position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_requirements",
              "displayName": "job_requirements",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2080,
        96
      ],
      "id": "89ca3a85-f61a-4135-9350-6067fd13c0a5",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "p29c8vZBT44DvNDB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "lxboJq9cWIslwEwV",
          "mode": "list",
          "cachedResultName": "workflow_logs",
          "cachedResultUrl": "/projects/rnwzEppIAYbYudDb/datatables/lxboJq9cWIslwEwV"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{$json.run_id}}",
            "source_key": "={{$json.source_key}}",
            "record_key": "={{$json.record_key}}",
            "status": "success",
            "processed_at": "={{$now}}",
            "retry_count": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source_key",
              "displayName": "source_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "record_key",
              "displayName": "record_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "retry_count",
              "displayName": "retry_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2304,
        64
      ],
      "id": "1c09bb58-7615-4330-9b1d-7af546e5de8d",
      "name": "Insert row"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2528,
        96
      ],
      "id": "069638ac-7e85-43d6-869b-ebb1af96c62e",
      "name": "Wait",
      "webhookId": "d93cdbf5-d3e2-42a5-9196-d283c812aee5"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "lxboJq9cWIslwEwV",
          "mode": "list",
          "cachedResultName": "workflow_logs",
          "cachedResultUrl": "/projects/rnwzEppIAYbYudDb/datatables/lxboJq9cWIslwEwV"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{$json.run_id}}",
            "source_key": "=",
            "record_key": "={{$json.record_key}}",
            "status": "invalid",
            "processed_at": "={{$now}}",
            "retry_count": 0,
            "error_message": "Missing required fields"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source_key",
              "displayName": "source_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "record_key",
              "displayName": "record_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "retry_count",
              "displayName": "retry_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        592,
        144
      ],
      "id": "b6115b5e-9abc-4b29-946a-3805cf18680f",
      "name": "Insert row1"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "34e82a96-0544-4831-bd8e-dd0fa3901c41",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dfa9bd419da97e8a72d6069acb67e95575c89baa71302d0781a7331301986176"
  },
  "id": "NVDjvgzAJM0hB1Ap",
  "tags": []
}